@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@font-face {
  font-family: 'Noah Bold';
  src: url("../fonts/3909F9_0_0.eot") format("embedded-opentype"), url("../fonts/3909F9_0_0.woff2") format("woff2"), url("../fonts/3909F9_0_0.woff") format("woff"), url("../fonts/3909F9_0_0.ttf") format("truetype"); }
@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url("../fonts/2FDF27_8_0.woff2") format("woff2"), url("../fonts/2FDF27_8_0.woff") format("woff"), url("../fonts/2FDF27_8_0.ttf") format("truetype"); }
body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'AvenirNextLTPro-Medium', sans-serif;
  color: #222; }

h1, h2, h3, h4, h5, h6,
.uk-heading-2xlarge, .uk-heading-xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Noah Bold', sans-serif;
  font-weight: bolder;
  letter-spacing: 2px; }

.bs-color-red, em {
  color: #800000; }

.bs-color-yellow {
  color: #ffff48; }

.uk-link, a {
  color: #800000; }
  .uk-link:hover, a:hover {
    color: #800000;
    text-decoration: none;
    border-bottom: 0; }
  .uk-link.uk-light:hover, a.uk-light:hover {
    color: #ffff48; }

.bs-front-menu > ul > li {
  padding: 0 1em 1em 1em; }
  .bs-front-menu > ul > li > a {
    font-size: 1.75em;
    letter-spacing: 2px;
    text-transform: none;
    font-family: 'PT Sans', sans-serif; }

ul.bs-nav-text {
  text-align: center;
  font-family: 'Noah Bold', sans-serif;
  font-size: 1.25em;
  padding-top: 2em; }
  ul.bs-nav-text > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 2; }
    ul.bs-nav-text > li:last-child {
      border-bottom: 0; }

.bs-productions-heading {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

div.bs-slogan {
  font-size: 11px; }
  div.bs-slogan > p {
    font-size: 1.5em;
    width: 80%; }

@media screen and (max-width: 450px) {
  html {
    font-size: 12px; } }
@media screen and (min-width: 640px) {
  div.bs-slogan {
    font-size: 13px; }
    div.bs-slogan > p {
      width: 50%; } }
@media (max-width: 823px) and (orientation: landscape) {
  html {
    font-size: 10px; }
    html header {
      font-size: 7px; }
    html p {
      font-size: 13px; } }
.bs-content p {
  font-size: 1.35em; }
.bs-content > :first-child {
  font-size: 1.5em;
  font-weight: bolder; }

#bs-news {
  background: url(../images/body-bg2.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.bs-news-item .uk-card-body > p {
  color: #00000a; }
.bs-news-item > div:nth-child(1) {
  order: 1;
  background-color: rgba(0, 0, 0, 0.15); }
.bs-news-item > div:nth-child(2) {
  order: 0;
  background-color: rgba(0, 0, 0, 0.15); }
.bs-news-item > div:nth-child(3) {
  order: 2;
  background-color: rgba(0, 0, 0, 0.225); }
.bs-news-item > div:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.225);
  order: 3; }
.bs-news-item > div:nth-child(5) {
  order: 5;
  background-color: rgba(0, 0, 0, 0.3); }
.bs-news-item > div:nth-child(6) {
  order: 4;
  background-color: rgba(0, 0, 0, 0.3); }
.bs-news-item > div:nth-child(7) {
  order: 6;
  background-color: rgba(0, 0, 0, 0.375); }
.bs-news-item > div:nth-child(8) {
  background-color: rgba(0, 0, 0, 0.375);
  order: 7; }

.bs-resume-header-frame {
  position: relative; }
  .bs-resume-header-frame > a:hover {
    text-decoration: none; }
  .bs-resume-header-frame .bs-resume-header {
    display: none;
    background: rgba(0, 0, 0, 0.75);
    background: rgba(85, 11, 30, 0.9);
    line-height: 1;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: calc(100% - 15px);
    height: 100%;
    font-size: 24px; }
    .bs-resume-header-frame .bs-resume-header > div {
      height: 100%; }

.bs-prev-next > div > div > a {
  font-size: 1.5em;
  font-variant: all-small-caps;
  font-family: "Noah Bold", sans-serif; }

.bs-subtitle {
  color: #800000; }

/* ARCHIVE PAGE */
.bs-productions-grid {
  font-size: 14px; }
  .bs-productions-grid > div > h3 {
    line-height: 1;
    word-break: break-word;
    font-size: 1.25em; }
    .bs-productions-grid > div > h3 > a {
      color: #333; }

.bs-production-quote {
  width: 90%;
  margin: 0 auto; }

@media screen and (min-width: 640px) {
  .bs-production-quote {
    width: 60%; } }
.bs-vertical-box {
  position: relative;
  width: 4em;
  height: 4em;
  padding: 5px;
  color: #222;
  text-align: right; }
  .bs-vertical-box:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 4em solid transparent;
    border-top-color: rgba(255, 255, 74, 0.85);
    border-left-color: rgba(255, 255, 74, 0.85); }
  .bs-vertical-box .uk-logo {
    position: relative;
    z-index: 1; }

@media screen and (min-width: 640px) {
  .bs-vertical-box {
    width: 6em;
    height: 6em;
    padding: 6px; }
    .bs-vertical-box:before {
      border: 6em solid transparent;
      border-top-color: #ffff48;
      border-left-color: #ffff48;
      border-top-color: rgba(255, 255, 74, 0.85);
      border-left-color: rgba(255, 255, 74, 0.85); } }
.gigpress-table {
  border-top: 0px solid;
  font-family: 'Noah Bold', sans-serif;
  font-size: 1.25em; }

.gigpress-info-item:nth-child(4) {
  font-size: .875em;
  font-weight: bold; }

.bs-logo {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), transparent); }
  .bs-logo > img {
    opacity: .7; }

.bs-slider-content {
  width: 100%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.85)); }
  .bs-slider-content h1.bs-color-yellow {
    opacity: .7; }

#footer ul > li {
  display: inline;
  list-style-type: none;
  padding: .25em;
  font-variant: all-small-caps;
  font-size: 1.375em; }
#footer ul.bs-social > li {
  padding: .75em; }

/*# sourceMappingURL=custom.css.map */
