.gigpress-table {
  border-top: 0px solid;
  font-family: 'Noah Bold', sans-serif;
  font-size: 1.25em;
}

.gigpress-info-item:nth-child(4) {
  font-size: .875em;
  font-weight: bold;
}

// .bs-agenda-container {
//   > p {
//     font-size: 1.25em;
//   }
// }

@media screen and (min-width: 960px) {

//   .bs-agenda-container {
//     columns: 2;
//     column-fill: balance;
//     column-gap: 3em;
//   }
//
}
