.bs-content {
  p:nth-child(2) {
    font-size: 1.35em;
  }
  p:nth-child(3) {
    font-size: 1.25em;
  }
  p:nth-child(4) {
    font-size: 1.15em;
  }
  &>:first-child {
    font-size: 1.5em;
    font-weight: bolder;
  }
}
