#bs-news {
  background: url(../images/body-bg2.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bs-news-item {
    .uk-card-body > p {
        color: #00000a;
      }
  // .bs-right-flip {
    > div:nth-child(1) {
      order: 1;
      background-color: rgba(0, 0, 0, 0.15);
    }
    > div:nth-child(2) {
      order: 0;
      background-color: rgba(0, 0, 0, 0.15);
    }
    > div:nth-child(3) {
      order: 2;
      background-color: rgba(0, 0, 0, .225);
    }
    > div:nth-child(4) {
      background-color: rgba(0, 0, 0, .225);
      order: 3;
    }
    > div:nth-child(5) {
      order: 5;
      background-color: rgba(0, 0, 0, 0.3);
    }
    > div:nth-child(6) {
      order: 4;
      background-color: rgba(0, 0, 0, 0.3);
    }
    > div:nth-child(7) {
      order: 6;
      background-color: rgba(0, 0, 0, 0.375);
    }
    > div:nth-child(8) {
      background-color: rgba(0, 0, 0, 0.375);
      order: 7;
    }
}
