// .bs-title {
//   font-size: 3em;
// }

.bs-subtitle {
  color: $red;
}

/* ARCHIVE PAGE */
.bs-productions-grid {
  font-size: 14px;
   > div > h3 {
    line-height: 1;
    word-break: break-word;
    font-size: 1.25em;
    > a {
      color: #333;
    }
  }
}

.bs-production-quote {
  width: 90%;
  margin: 0 auto;
}

 @media screen and (min-width: 640px) {

   .bs-production-quote {
     width: 60%;
   }

 }
