.bs-logo {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, 0));
  > img {
    opacity: .7;
  }
}
.bs-slider-content {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85));
  h1.bs-color-yellow {
    opacity: .7;
  }
}
