@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
  font-family: 'Noah Bold';
  src: url('../fonts/3909F9_0_0.eot') format('embedded-opentype'),url('../fonts/3909F9_0_0.woff2') format('woff2'),url('../fonts/3909F9_0_0.woff') format('woff'),url('../fonts/3909F9_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url('../fonts/2FDF27_8_0.woff2') format('woff2'), url('../fonts/2FDF27_8_0.woff') format('woff'), url('../fonts/2FDF27_8_0.ttf') format('truetype');
}

$red: #800000;
$yellow: #ffff48;

body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'AvenirNextLTPro-Medium', sans-serif;
  color: #222;
  // letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6,
.uk-heading-2xlarge, .uk-heading-xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Noah Bold', sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
}

p {
  // font-size: 1.125em;
}

.bs-color-red, em {
  color: $red;
}

.bs-color-yellow {
  color: $yellow;
}

.uk-link, a {
  color: $red;
//  border-bottom: 1px dotted;
  &:hover {
    color: $red;
    text-decoration: none;
    border-bottom: 0;
  }
  &.uk-light:hover {
    color: #ffff48;
  }
}

// NAV
.bs-front-menu > ul {
  > li {
    padding: 0 1em 1em 1em;
    > a {
      font-size: 1.75em;
      letter-spacing: 2px;
      text-transform: none;
      font-family: 'PT Sans', sans-serif;
    }
  }
}

ul.bs-nav-text {
  text-align: center;
  font-family: 'Noah Bold', sans-serif;
  font-size: 1.25em;
  padding-top: 2em;
  > li {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    line-height: 2;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.bs-productions-heading {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  // text-overflow: ellipsis;
}


div.bs-slogan {
  font-size: 11px;
  > p {
    font-size: 1.5em;
    width: 80%;
  }
}



@media screen and (max-width: 450px) {

  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 640px) {
  div.bs-slogan {
    font-size: 13px;
    > p {
      width: 50%;
    }
  }
}

@media (max-width: 823px) and (orientation: landscape) {
  html {
    font-size: 10px;
    header {
      font-size: 7px;
    }
    p {
      font-size: 13px;
    }
  }
}

@import "content";
@import "news";
@import "resume";
@import "prev-next";
@import "producties";
@import "vertical";
@import "agenda";
@import "slider";
@import "footer";
